
.clearfix:after {
  clear:both;
  content:'';
  display:block;
  height: 0;
  visibility: hidden;
}
.index-wrap {
  width: 1200px;
  margin:0 auto;
  overflow: hidden;
}
.index-left {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  width: 300px;
  min-height: 800px;
  background: #fff;
}
.index-left-block h2 {
  height: 30px;
  line-height: 30px;
  padding-left: 12px;
  margin-bottom: 10px;
  font-size: 15px;
  color:#eee;
  background: #41b883;
  border-radius: 1px;
}
.index-left-block h3 {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  padding: 0 0 0 12px;
}
.index-left-block ul {
  padding: 10px 15px;
}
.index-left-block ul li {
  padding : 3px 0;
}
.index-left-block ul li a{
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  color: rgb(7,17,27);
  text-decoration: none;
}
.hot {
  display: inline-block;
  margin-top: 2px;
  vertical-align: top;
  background: #f00;
  color: #fff;
  height: 15px;
  font-size: 14px;
  border-radius: 1px;
}
.hr {
  width: 100%;
  height: 1px;
  margin: 5px 0;
  background: rgba(0,0,0,0.1);
}
.index-right {
  margin-top: 10px;
}
.slide-show {
  
}
.index-board-item {
  width: 400px;
  float: left;
  margin: 0 10px 10px 0;
  padding: 20px;
  background:#fff;
  box-shadow: 0 0 1px #ddd;
  box-sizing: border-box;
}
.index-board-item-inner {
  padding: 0 0 10px 120px;
}
.index-board-car .index-board-item-inner{
  background: url(1.png) no-repeat
}
.index-board-earth .index-board-item-inner{
  background: url(2.png) no-repeat
}
.index-board-loud .index-board-item-inner{
  background: url(3.png) no-repeat
}
.index-board-hill .index-board-item-inner{
  background: url(./4.png) no-repeat
}
.index-board-item-inner h2 {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0;
}
.index-board-item-inner p {
  line-height: 20px;
  font-size: 12px;
  padding: 5px 0;
}
.index-board-button {
  margin: 15px auto;
}
.index-board-button a{
  font-size: 13px;
  color: #eee;
  text-decoration: none;
  padding: 8px 15px;
  background: #41b883;
  border-radius: 1px;
}
.line-last {
  margin-right: 0;
}
.new-item {
  display: inline-block;
  width: 230px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}